[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
hypercorn = "*"
typer = "*"
requests = "*"
tenacity = "*"
pydantic = "*"
pydantic-settings = "*"
asyncpg = "*"
sqlalchemy = "*"
psycopg2 = "*"
tortoise-orm = "*"
aerich = "*"
python-dotenv = "*"
aiohttp= "*"

[dev-packages]
requests-mock = "*"
black = "*"
pytest = "*"
pytest-sugar = "*"
pytest-asyncio = "*"
pytest-docker = "*"
pytest-mock = "*"
pytest-env = "*"

[requires]
python_version = "3.11"

[scripts]
makemigrations = "aerich migrate"
migrate = "aerich upgrade"


[tool.aerich]
tortoise_orm = "setup.AERICH_DB_CONFIG"
location = "./migrations"
src_folder = "./."
