[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
hypercorn = "*"
typer = "*"
requests = "*"
tenacity = "*"
pydantic = "*"
asyncpg = "*"
databases = "*"
sqlalchemy = "==1.4.46"
psycopg2 = "*"
python-dotenv = "*"
tortoise-orm = "*"
aerich = "*"

[dev-packages]
pytest = "*"
pytest-sugar = "*"
requests-mock = "*"
pytest-asyncio = "*"
pytest-docker = "*"
pytest-mock = "*"
pytest-env = "*"

[requires]
python_version = "3.11"
